<div class="flex flex-col justify-center items-center">
  <mat-progress-bar mode="determinate" [value]="submitProgress"></mat-progress-bar>

  <div class="w-[60%] relative top-[60px] bg-green-100 p-7 rounded-xl">
    <p class="font-medium text-xl w-full text-center">EDIT PROGRESSNOTE</p>
    <form #angForm="ngForm" (ngSubmit)="submitForm(angForm)">

      <mat-form-field class="w-full">
        <mat-label>Content</mat-label>
        <input matInput type="text" name="content" [(ngModel)]="progressNote.content" #content="ngModel" required />
        <mat-error *ngIf="content.invalid && (content.dirty || content.touched) ">
          Content is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Type</mat-label>
        <input matInput type="text" name="type" [(ngModel)]="progressNote.type" #type="ngModel" required />
        <mat-error *ngIf="type.invalid && (type.dirty || type.touched) ">
          Type is required
        </mat-error>
      </mat-form-field>

      <div class="flex justify-between">
        <mat-form-field class="w-[45%]">
          <mat-label>Choose a create date</mat-label>
          <input matInput [max]="maxDate" [matDatepicker]="picker" [(ngModel)]="progressNote.createdDate"
            #createdDate="ngModel" (dateChange)="onDateChange($event)" [ngModelOptions]="{standalone: true}" required>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-error *ngIf="createdDate.invalid && (createdDate.dirty || createdDate.touched) ">
            Create date is required (MM/DD/YYYY)
          </mat-error>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="w-[45%]">
          <mat-label>Select an resident</mat-label>
          <mat-select [(value)]="selectedResidentId">
            <mat-option *ngFor="let resident of residents" [value]="resident.id">{{resident.firstName +
              resident.lastName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="mt-4 text-center">
        <button mat-raised-button color="primary" type="submit" [disabled]="angForm.invalid || createdDate.invalid">
          EDIT PROGRESSNOTE
        </button>
      </div>
    </form>
  </div>
</div>